url:
  # This needs a paid Ankr subscription. Alternatively, check the validator
  # channel for an internal-use-only Holesky endpoint that we provide for
  # our testnet validators.
  !!str {{ holesky_url }}
nstid:
  !!str 0xeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeee_0x9d19
