sources:
  chainlink
tokens:
  - ETHUSDT
  - WSTETHUSDT
  - USDCUSDT
  - NSTETH
sender:
  path: "/root/.exocored/config" # actual value not `$HOMEDIR`
exocore:
  chainid: exocoretestnet_233-7
  appName: exocore
  rpc: localhost:9090
  ws:
    addr: !!str ws://localhost:26657
    endpoint: /websocket
