tokens:
  - token: ETHUSDT
    sources: chainlink
  - token: WSTETHUSDT
    sources: chainlink
  - token: USDCUSDT
    sources: chainlink
  - token: NSTETH
    sources: beaconchain
  - token: SOLUSDT
    sources: chainlink
sender:
  path: "/root/.imuad/config" # actual value not `$HOMEDIR`
imua:
  chainid: imuachaintestnet_233-8
  appName: imua
  grpc: 127.0.0.1:9090
  ws: !!str ws://127.0.0.1:26657/websocket
  rpc: !!str http://127.0.0.1:26657
